.goalInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    padding-top: .5em;
    text-align: center;
    font-size: 2em;
}

@media only screen and (max-width: 820px) {
    .goalInput {
        font-size: 1.5rem;
    }
}