* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/joshua-reddekopp--3uIUqsR-Rw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - .5em);
}